<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>{{ .title }}</title>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Ayush Singh">
    <meta name="description" content="Hogwarts - Finally here!">
    <meta name="theme-color" content="#17a2b8">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hogwarts - Finally here!">
    <meta property="og:description" content="Dobby is a free elf">
    <meta property="og:image" content="https://cdn.pixabay.com/photo/2018/06/15/11/16/hogwarts-3476786_960_720.png">
    <meta property="og:url" content="https://hogwarts.io">
    <meta property="og:site_name" content="Hogwarts">
    <meta name="twitter:card" content="website">
    <meta name="twitter:site" content="Hogwarts">
    <meta name="twitter:title" content="Hogwarts - Finally here!">
    <meta name="twitter:description" content="Dobby is a free elf">
    <meta name="twitter:creator" content="Ayush Singh">
    <meta name="twitter:image" content="https://cdn.pixabay.com/photo/2018/06/15/11/16/hogwarts-3476786_960_720.png">
    <meta itemprop="name" content="Hogwarts">
    <meta itemprop="description" content="Dobby is a free elf">
    <meta itemprop="image" content="https://cdn.pixabay.com/photo/2018/06/15/11/16/hogwarts-3476786_960_720.png">

    <!-- Favicon -->
    <link rel="icon" href="/img/logo.png">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
</head>


<!-- Body -->
<body>


    <!-- Entire website is wrapped under this div -->
    <div class="wrapper">
        <header></header>
        <div class="sidenav">
            
        </div>